<!DOCTYPE html>
<html lang="pt-BR">

<!--=============== HEAD===============-->
<%- include('../partials/main/head-main') %>

<body> <!-- alterar para saber a página -->
    <!--=============== HEADER ===============-->
    <%- include('../partials/main/header-main') %>

    <!--=============== MAIN ===============-->
    <main>
        <!--=============== IDENTIFY ===============-->
        <section class="identify content">
            <div class="identify-container wrapper container-main_content">

                <div class="identify-container_information container-information">
                    <h5>CADASTRAR</h5>
                    <h3>Insira os dados para criar uma conta</h3>
                    <p>Preencha todos os campos para que seja criada uma conta para você.</p>

                    <div class="identify-information_options container-information_options">
                        <a href="/">Entrar</a>
                        <a href="/cadastrar" class="container-option_active">Cadastrar-se</a>
                    </div>
                </div>

                <div class="identify-container_form container-form">
                    <form class="form" action="/cadastrar/acesso" method="post">
                        <div class="form-instruction">
                            <p>Preenchimento obrigatório</p><span>*</span>
                        </div>

                        <div class="form-dision">
                            <div class="form-dision_half">
                                <input class="form-dision_inputfull" type="text" placeholder="Primeiro nome *" name="firstName" required>
                                <input class="form-dision_inputfull" type="text" placeholder="Último nome *" name="lastName" required>
                            </div>

                            <div class="form-dision_half">
                                <input class="form-dision_inputfull" type="text" placeholder="Cargo *" name="occupation" required>
                                <input class="form-dision_inputfull" type="text" placeholder="Departamento *" name="departament" required>
                            </div>

                            <input class="form-dision_inputfull" type="date" placeholder="Data de Nascimento *" name="birthDate" required>

                            <div class="form-dision_half">
                                <input class="form-dision_inputfull" type="text" placeholder="Telefone *" name="telephone" required>
                                <input class="form-dision_inputfull" type="number" placeholder="CPF *" name="cpf" required>
                            </div>

                            <div class="form-dision_half">
                                <input class="form-dision_inputfull" type="number" placeholder="CEP *" name="cep" required>
                                <input class="form-dision_inputfull" type="number" placeholder="Número da casa *" name="houseNumber" required>
                            </div>

                            <input class="form-dision_inputfull" type="email" placeholder="Email *" name="email" required>
                            <input class="form-dision_inputfull" type="password" placeholder="Senha *" name="password" required>
                            <input class="form-dision_inputfull" type="password" placeholder="Confirmar senha *" name="confirmedPassword" required>
                        </div>
    
                        <input type="submit" class="btn" value="Cadastrar"></input>
                    </form>
                </div>

                <div class="identify-container_alternative container-alternative">
                    <p>Já possui uma conta?</p>
                    <a href="/">Entre em sua conta</a>
                </div>
            </div>
        </section>
    </main>

    <!--=============== SCRIPTS ===============-->
    <script src="./js/main.js"></script>
</body>
</html>